<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>

<body>
    <table>
        <tr th:object="${user}">
            <td th:text="*{stuffId}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{sex}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{departmentId}"></td>
            <td th:text="*{occupationId}"></td>
        </tr>
    </table>
</body>

</html>